@{
    ViewData["Title"] = "Menú principal";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row py-3">
    <div class="col-sm-6 my-2">
        <div class="card shadow menu__card py-3">
            <div class="card-body">
                <h5 class="card-title">Módulo administrador de usuarios</h5>
                <p class="card-text">Control de usuarios</p>
                <div class="d-flex justify-content-center justify-content-xl-start flex-wrap">
                    <a asp-controller="User" asp-action="Index" class="btn btn-primary btn-sm m-1">Ingresar al módulo</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 my-2">
        <div class="card shadow menu__card py-3">
            <div class="card-body">
                <h5 class="card-title">Módulo administrador de averías</h5>
                <p class="card-text">Control de averías</p>
                <div class="d-flex justify-content-center justify-content-xl-start flex-wrap">
                    <a href="#" class="btn btn-primary btn-sm m-1">Registrar avería</a>
                    <a href="#" class="btn btn-primary btn-sm m-1">Modificar avería</a>
                    <a href="#" class="btn btn-primary btn-sm m-1">Eliminar avería</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 my-2">
        <div class="card shadow menu__card py-3">
            <div class="card-body">
                <h5 class="card-title">Módulo administrador de recaudación diaría</h5>
                <p class="card-text">Control de recaudación diaría</p>
                <div class="d-flex justify-content-center justify-content-xl-start flex-wrap">
                    <a asp-controller="DailyCollection" asp-action="Index" class="btn btn-primary btn-sm m-1">Ingresar al módulo</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 my-2">
        <div class="card shadow menu__card py-3">
            <div class="card-body">
                <h5 class="card-title">Módulo administrador de bitácora personal</h5>
                <p class="card-text">Mi bitácora personal</p>
                <div class="d-flex justify-content-center justify-content-xl-start flex-wrap">
                    <a asp-controller="PersonalBinnacle" asp-action="Index" class="btn btn-primary btn-sm m-1">Ingresar al módulo</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 my-2">
        <div class="card shadow menu__card py-3">
            <div class="card-body">
                <h5 class="card-title">Módulo administrador de cloro residual</h5>
                <p class="card-text">Control del cloro residual</p>
                <div class="d-flex justify-content-center justify-content-xl-start flex-wrap">
                    <a href="#" class="btn btn-primary btn-sm m-1">Registrar medición</a>
                    <a href="#" class="btn btn-primary btn-sm m-1">Modificar medición</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 my-2">
        <div class="card shadow menu__card py-3">
            <div class="card-body">
                <h5 class="card-title">Módulo administrador de tareas</h5>
                <p class="card-text">Control de tareas</p>
                <div class="d-flex justify-content-center justify-content-xl-start flex-wrap">
                    <a asp-controller="Task" asp-action="Index" class="btn btn-primary btn-sm m-1">Ingresar al módulo</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mt-2 mb-4">
        <div class="card shadow menu__card py-3">
            <div class="card-body">
                <h5 class="card-title">Módulo administrador de inventario</h5>
                <p class="card-text">Control del inventario</p>
                <div class="d-flex justify-content-center justify-content-xl-start flex-wrap">
                    <a asp-controller="Product" asp-action="IndexAdmin" class="btn btn-primary btn-sm m-1">Ingresar al módulo</a>
                </div>
            </div>
        </div>
    </div>
</div>