@{
    ViewData["Title"] = "Menú principal";
}

<div class="row py-3">
    <div class="col-sm-6 my-2">
        <div class="card shadow menu__card py-3">
            <div class="card-body">
                <h5 class="card-title">Gestión de usuarios</h5>
                <p class="card-text">Control de usuarios</p>
                <div class="d-flex justify-content-center justify-content-xl-start flex-wrap">
                    <a href="#" class="btn btn-primary btn-sm m-1">Registrar usuario</a>
                    <a href="#" class="btn btn-primary btn-sm m-1">Modificar usuario</a>
                    <a href="#" class="btn btn-primary btn-sm m-1">Eliminar usuario</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 my-2">
        <div class="card shadow menu__card py-3">
            <div class="card-body">
                <h5 class="card-title">Gestión de averías</h5>
                <p class="card-text">Control de averías</p>
                <div class="d-flex justify-content-center justify-content-xl-start flex-wrap">
                    <a href="#" class="btn btn-primary btn-sm m-1">Registrar avería</a>
                    <a href="#" class="btn btn-primary btn-sm m-1">Modificar avería</a>
                    <a href="#" class="btn btn-primary btn-sm m-1">Eliminar avería</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 my-2">
        <div class="card shadow menu__card py-3">
            <div class="card-body">
                <h5 class="card-title">Gestión de recaudación diaría</h5>
                <p class="card-text">Control de recaudación diaría</p>
                <div class="d-flex justify-content-center justify-content-xl-start flex-wrap">
                    <a href="#" class="btn btn-primary btn-sm m-1">Registrar recaudación</a>
                    <a href="#" class="btn btn-primary btn-sm m-1">Modificar recaudación</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 my-2">
        <div class="card shadow menu__card py-3">
            <div class="card-body">
                <h5 class="card-title">Gestión de la bitácora personal</h5>
                <p class="card-text">Administración de la bitácora personal</p>
                <div class="d-flex justify-content-center justify-content-xl-start flex-wrap">
                    <a href="#" class="btn btn-primary btn-sm m-1">Registrar actividad</a>
                    <a href="#" class="btn btn-primary btn-sm m-1">Modificar actividad</a>
                    <a href="#" class="btn btn-primary btn-sm m-1">Eliminar actividad</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 my-2">
        <div class="card shadow menu__card py-3">
            <div class="card-body">
                <h5 class="card-title">Gestión del cloro residual</h5>
                <p class="card-text">Control del cloro residual</p>
                <div class="d-flex justify-content-center justify-content-xl-start flex-wrap">
                    <a href="#" class="btn btn-primary btn-sm m-1">Registrar medición</a>
                    <a href="#" class="btn btn-primary btn-sm m-1">Modificar medición</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 my-2">
        <div class="card shadow menu__card py-3">
            <div class="card-body">
                <h5 class="card-title">Gestión de tareas</h5>
                <p class="card-text">Control de tareas</p>
                <div class="d-flex justify-content-center justify-content-xl-start flex-wrap">
                    <a href="#" class="btn btn-primary btn-sm m-1">Registrar tarea</a>
                    <a href="#" class="btn btn-primary btn-sm m-1">Modificar tarea</a>
                    <a href="#" class="btn btn-primary btn-sm m-1">Eliminar tarea</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mt-2 mb-4">
        <div class="card shadow menu__card py-3">
            <div class="card-body">
                <h5 class="card-title">Gestión de inventario</h5>
                <p class="card-text">Control del inventario</p>
                <div class="d-flex justify-content-center justify-content-xl-evenly align-content-center flex-wrap">
                    <a href="#" class="btn btn-primary btn-sm m-1 m-xl-0">Registrar ítem</a>
                    <a href="#" class="btn btn-primary btn-sm m-1 m-xl-0">Modificar ítems</a>
                    <a href="#" class="btn btn-primary btn-sm m-1 m-xl-0">Eliminar ítem</a>
                    <a href="#" class="btn btn-primary btn-sm m-1 m-xl-0">Solicitar ítem</a>
                    <a href="#" class="btn btn-primary btn-sm m-1 m-xl-0">Reporte de inventario</a>
                </div>
            </div>
        </div>
    </div>
</div>

