@{
    ViewData["Titulo"] = "Menú principal";
    Layout = "~/Views/Shared/_ClientSiteLayout.cshtml";
}

<div class="estructura_consejo_tareas container-fluid m-0 p-0" style="display:none">
    <div id="consejo_tareas" class="card text-center consejo">
        <div class="card-header" style="background-color: #6DC7F6; font-size: 25px;">
            Mis tareas
        </div>
        <div class="card-body">
            <h5 class="card-title" style="font-size: 25px;">Control de tareas</h5>
            <p class="card-text" style="font-size:20px;">
                En esta sección el trabajador puede visualizar sus tareas asignadas
                así como poder llevar el control de las que han sido realizadas.
            </p>
            <img src="/assets/lista-de-tareas.png" alt="bitacora" />
        </div>
        <div class="card-footer text-muted" style="background-color: #6DC7F6">
            ASADA Carmen Lyra
        </div>
    </div>
</div>

<div class="estructura_consejo_inventario container-fluid m-0 p-0" style="display:none">
    <div id="consejo_inventario" class="card text-center consejo">
        <div class="card-header" style="background-color: #6DC7F6; font-size: 25px;">
            Inventario
        </div>
        <div class="card-body">
            <h5 class="card-title" style="font-size:20px;">Inventario disponible</h5>
            <p class="card-text" style="font-size:20px;">
                En esta sección el trabajador puede visualizar el inventario disponible en la ASADA, asi como la solicitud de alguno de los productos.
            </p>
            <img src="~/assets/inventario.png" alt="bitacora" />
        </div>
        <div class="card-footer text-muted" style="background-color: #6DC7F6">
            ASADA Carmen Lyra
        </div>
    </div>
</div>

<div class="estructura_consejo_cloros container-fluid m-0 p-0" style="display:none">
    <div id="consejo_cloros" class="card text-center consejo">
        <div class="card-header" style="background-color: #6DC7F6; font-size:25px;">
            Cloros residuales
        </div>
        <div class="card-body">
            <h5 class="card-title" style="font-size:20px;">Control de cloro residual</h5>
            <p class="card-text" style="font-size:20px;">
                En esta sección el trabajador puede llevar el control de las mediciones del cloro. Permite buscar, y modificar las mediciones.
            </p>
            <img src="~/assets/toxicidad.png" alt="bitacora" />
        </div>
        <div class="card-footer text-muted" style="background-color: #6DC7F6">
            ASADA Carmen Lyra
        </div>
    </div>
</div>
<div class="estructura_consejo_bitacora container-fluid m-0 p-0" style="display:none">
    <div id="consejo_bitacora" class="card text-center consejo">
        <div class="card-header" style="background-color: #6DC7F6; font-size: 30px;">
            Mi bitácora personal
        </div>
        <div class="card-body">
            <h5 class="card-title">Bitácora personal</h5>
            <p class="card-text" style="font-size:20px;">
                En esta sección el trabajador puede anotar diferentes actividades realizadas durante el día para llevar el control del día de trabajo
            </p>
            <img src="~/assets/notas.png" alt="bitacora" />
        </div>
        <div class="card-footer text-muted" style="background-color: #6DC7F6">
            ASADA Carmen Lyra
        </div>
    </div>
</div>

<div class="bienvenida">
    <h1 class="text-center mt-5">Bienvenid@@</h1>
    <h2 class="text-center mt-5">@this.Context.User.Identity.Name</h2>
    <h3 class="text-center mt-5">Gestor Digital ASADA Carmen Lyra</h3>
</div>