<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASADA Carmen Lyra</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/ColorsASADA.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand fw-bold main-title" asp-area="" asp-controller="Home" asp-action="" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Regresar al menú principal">ASADA Carmen Lyra<img src="~/assets/home_black_36.svg" alt="Icono de menu principal" class="ms-2 mb-2" /></a>
                <a asp-controller="Index" asp-action="LogOut" class="btn btn-dark btn-sm m-1 m-xl-0 ms-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cerrar sesión">@this.Context.User.Identity.Name<img src="~/assets/logout_white_18dp.svg" alt="Icono de cerar sesión" class="ms-2" /></a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main id="pageMain" role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ASADA Carmen Lyra- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Utility.js" asp-append-version="true"></script>
    <script src="~/js/hiddenValidate.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
