@{
    ViewData["Title"] = "Registro de recaudación diaria";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Registro de recaudación diaria</h1>
<hr />
<form class="row g-3 py-1 px-2">
    <div class="col-md-4">
        <label for="inputHydrant" class="form-label">Hidrantes</label>
        <input id="inputHydrant" class="form-control" type="number" placeholder="Ingrese la cantidad de hidrantes" @*asp-for="name"*@>
        @*<span class="field-validation-error" asp-validation-for="name"></span>*@
    </div>
    <div class="col-md-4">
        <label for="inputInvoice" class="form-label">Recibos</label>
        <input id="inputInvoice" class="form-control" type="number" placeholder="Ingrese la cantidad de recibos" @*asp-for="lastName"*@>
        @*<span class="field-validation-error" asp-validation-for="workerLastName"></span>*@
    </div>
    <div class="col-md-4">
        <label for="inputTax" class="form-label">Impuesto al Valor Agregado (IVA)</label>
        <input id="inputTax" class="form-control" type="number" min="0" step=".01" placeholder="Ingrese la cantidad de IVA" @*asp-for="idCard"*@>
        @*<span class="field-validation-error" asp-validation-for="workerIdCard"></span>*@
    </div>
    <div class="col-12">
        <label for="inputCash" class="form-label">Efectivo</label>
        <input id="inputCash" class="form-control" type="number" min="0" step=".01" placeholder="Ingrese la cantidad de efectivo" @*asp-for="userName"*@>
        @*<span class="field-validation-error" asp-validation-for="workerIdCard"></span>*@
    </div>
    <div class="col-12">
        <label for="inputTotal" class="form-label">Total</label>
        <input id="inputTotal" class="form-control" type="number" min="0" step=".01" placeholder="Ingrese el total">
        @*<span class="field-validation-error" asp-validation-for="userName"></span>*@
    </div>
    <div class="col-12">
        <label for="inputDate" class="form-label">Fecha de recaudación</label>
        <input id="inputDate" class="form-control" type="date" />
        @*<span class="field-validation-error" asp-validation-for="SpecialityType"></span>*@
    </div>
    <div class="col-12 mb-2 mb-md-0">
        <button type="submit" class="btn btn-dark">Registrar</button>
    </div>
</form>

@section scripts
{
    @*<script>
            $(document).ready(function () {
                if ("@ViewBag.response" !== "") {
                   createModalResponse("@ViewBag.response");
                }
           });
        </script>
        <partial name="_ValidationScriptsPartial" />*@
}