@{
    ViewData["Title"] = "Mis tareas";
    Layout = "~/Views/Shared/_ClientSiteLayout.cshtml";
}

<div class="mt-2">
    <h1>Mis tareas</h1>
</div>
<hr />
<div class="row table-responsive">
    <div class="col-12">
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Detalles</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody id="tbodyTask">
                <tr>
                    <td>1</td>
                    <td>Visitar sector 14</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                    <td>
                        <button class="btn btn-success btn-sm my-1 my-xl-0" data-bs-toggle="modal" data-bs-target="#editModal">
                            Completada
                            <img src="~/assets/done_white_18dp.svg" alt="Icono de hecho" class="ms-2 my-1" />
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Visitar sector 14</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                    <td>
                        <button class="btn btn-success btn-sm my-1 my-xl-0" data-bs-toggle="modal" data-bs-target="#editModal">
                            Completada
                            <img src="~/assets/done_white_18dp.svg" alt="Icono de hecho" class="ms-2 my-1" />
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Visitar sector 14</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                    <td>
                        <button class="btn btn-success btn-sm my-1 my-xl-0" data-bs-toggle="modal" data-bs-target="#editModal">
                            Completada
                            <img src="~/assets/done_white_18dp.svg" alt="Icono de hecho" class="ms-2 my-1" />
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Visitar sector 14</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                    <td>
                        <button class="btn btn-success btn-sm my-1 my-xl-0" data-bs-toggle="modal" data-bs-target="#editModal">
                            Completada
                            <img src="~/assets/done_white_18dp.svg" alt="Icono de hecho" class="ms-2 my-1" />
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>