@{
    ViewData["Title"] = "Gestor de sectores";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="mt-4 mb-2">
    <h1 class="promo-table__title d-inline me-3">Gestor de sectores</h1>
    <button id="btn__insert--user" class="btn btn-dark mb-3 d-inline btn__search"
            data-bs-toggle="modal"
            data-bs-target="#insertModal"
            data-bs-placement="right"
            title="Registro de averías">
        <img src="~/assets/add_black_24dp.svg" alt="Icono de insertar" />
    </button>
    <button id="btn__search--user" class="btn btn-dark mb-3 d-inline btn__search"
            data-bs-toggle="modal"
            data-bs-target="#searchModal"
            data-bs-placement="right"
            title="Búsqueda de averías">
        <img src="~/assets/search_black_24dp.svg" alt="Icono de busqueda" />
    </button>
    <button id="btn__refresh--user" class="btn btn-dark mb-3 d-inline btn__search"
            title="Refrescar tabla">
        <img src="~/assets/refresh_black_24dp.svg" alt="Icono de busqueda" />
    </button>
</div>
<hr />
<div>
    <div class="row table-responsive">
        <div class="col-12">
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre del sector</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody id="tbodyUserSearch">
                    <tr>
                        <td> 1</td>
                        <td>Comejen</td>

                        <td>
                            <button class="btn btn-primary btn-sm my-1 my-xl-0" data-bs-toggle="modal" data-bs-target="#editModal">
                                Modificar
                                <img src="~/assets/edit_white_18dp.svg" alt="Icono eliminar usuario" class="ms-2 my-1" />
                            </button>
                            <button class="btn btn-danger btn-sm my-1 my-xl-0" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                Eliminar
                                <img src="~/assets/person_remove_white_18dp.svg" alt="Icono eliminar usuario" class="ms-2 my-1" />
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td> 2</td>
                        <td>Aceras anchas</td>
                        <td>
                            <button class="btn btn-primary btn-sm my-1 my-xl-0" data-bs-toggle="modal" data-bs-target="#editModal">
                                Modificar
                                <img src="~/assets/edit_white_18dp.svg" alt="Icono eliminar usuario" class="ms-2 my-1" />
                            </button>
                            <button class="btn btn-danger btn-sm my-1 my-xl-0" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                Eliminar
                                <img src="~/assets/person_remove_white_18dp.svg" alt="Icono eliminar usuario" class="ms-2 my-1" />
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td> 3</td>
                        <td>Viga</td>
                        <td>
                            <button class="btn btn-primary btn-sm my-1 my-xl-0" data-bs-toggle="modal" data-bs-target="#editModal">
                                Modificar
                                <img src="~/assets/edit_white_18dp.svg" alt="Icono eliminar usuario" class="ms-2 my-1" />
                            </button>
                            <button class="btn btn-danger btn-sm my-1 my-xl-0" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                Eliminar
                                <img src="~/assets/person_remove_white_18dp.svg" alt="Icono eliminar usuario" class="ms-2 my-1" />
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td> 4</td>
                        <td>Antigua delegación</td>
                        <td>
                            <button class="btn btn-primary btn-sm my-1 my-xl-0" data-bs-toggle="modal" data-bs-target="#editModal">
                                Modificar
                                <img src="~/assets/edit_white_18dp.svg" alt="Icono eliminar usuario" class="ms-2 my-1" />
                            </button>
                            <button class="btn btn-danger btn-sm my-1 my-xl-0" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                Eliminar
                                <img src="~/assets/person_remove_white_18dp.svg" alt="Icono eliminar usuario" class="ms-2 my-1" />
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td> 5</td>
                        <td>Centro</td>
                        <td>
                            <button class="btn btn-primary btn-sm my-1 my-xl-0" data-bs-toggle="modal" data-bs-target="#editModal">
                                Modificar
                                <img src="~/assets/edit_white_18dp.svg" alt="Icono eliminar usuario" class="ms-2 my-1" />
                            </button>
                            <button class="btn btn-danger btn-sm my-1 my-xl-0" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                Eliminar
                                <img src="~/assets/person_remove_white_18dp.svg" alt="Icono eliminar usuario" class="ms-2 my-1" />
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td> 6</td>
                        <td>Laureles</td>
                        <td>
                            <button class="btn btn-primary btn-sm my-1 my-xl-0" data-bs-toggle="modal" data-bs-target="#editModal">
                                Modificar
                                <img src="~/assets/edit_white_18dp.svg" alt="Icono eliminar usuario" class="ms-2 my-1" />
                            </button>
                            <button class="btn btn-danger btn-sm my-1 my-xl-0" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                Eliminar
                                <img src="~/assets/person_remove_white_18dp.svg" alt="Icono eliminar usuario" class="ms-2 my-1" />
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Búsqueda de sector</h5>

            </div>
            <form class="needs-validation" novalidate">
                <div class="modal-body">
                    <div class="container">
                        <div class="md-6">
                            <label for="inputIdHouse" class="form-label">Nombre del sector</label>
                            <input id="inputIdHouse" class="form-control" type="text" placeholder="Ingrese el nombre" required>
                            <div class="invalid-feedback">
                                Ingresa el nombre del sector
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button id="btn-search" type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modificar sector</h5>
            </div>
            <form class="row g-3 p-3 needs-validation" novalidate>
                <div class="col-md-6">
                    <label for="inputDate" class="form-label">Nombre del sector</label>
                    <input id="inputDate" class="form-control" type="text" required>
                    <div class="invalid-feedback">
                        Ingresa el nombre del sector
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button id="btn-search" type="submit" class="btn btn-primary">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="insertModal" tabindex="-1" aria-labelledby="insertModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registro de cloro residual</h5>
            </div>
            <form method="POST" asp-controller="Sector" asp-action="Insert" class="row g-3 p-3 needs-validation" novalidate>
                <div class="col-md-6">
                    <label for="inputDate" class="form-label">Nombre del sector</label>
                    <input id="inputDate" class="form-control" type="text" required>
                    <div class="invalid-feedback">
                        Ingrese el nombre del sector
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button id="btn-search" type="submit" class="btn btn-primary">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Está seguro de eliminar a este sector?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                El sector será eliminado permanentemente del sistema.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Eliminar</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">

        $(document).ready(function () {
            if ('@ViewBag.ShowModalResponse' === 'True') {
               createModalResponse("@ViewBag.mensaje");
            }
           });
    </script>
}
